@import "variable.less";
@import "mixins.less";

body {
  .font-style;
  font-family: "Open Sans", "Arial", sans-serif;
  background-color: @bg-white;
  padding: 0;
}

img {
  max-width: 100%;
  margin: 0 auto;

}

@font-face {
  font-family: "Open Sans";
  font-weight: 400;
  src: url(../fonts/opensans.woff2) format("woff2"),
      url(../fonts/opensans.woff) format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-weight: 700;
  src: url(../fonts/opensansbold.woff2) format("woff2"),
      url(../fonts/opensansbold.woff) format("woff");
}


.style-btn {
  font-size: 17px;
  line-height: 20px;
  color: #464646;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  width: 100%;
  border: 2px solid #464646;
  margin: 0 auto;
}
