@bg-white: #fff; /*фон общий*/
@color-title: #000000; /*заголовки*/
@fsize-title: 25px;
@fheight-title: 30px;
@fweight-title: bold;
@color-nav-item: #ffffff; /*menu-header__nav*/
@fsize-nav-item: 19px;
@fheight-nav-item: 25px;
@fweight-nav-item: bold;
@prl: 30px;
@color-menu: #000000; /*заголовки в меню*/
@fsize-menu: 17px;
@fheight-menu: 24px;
@fweight-menu: bold;
@color-light-black: #464646;


.h1-style {
  margin: 0;
  font-size: 27px;
  line-height: 30px;
  color: #050002;
  font-weight: bold;
  text-align: center;
}
.h2-style {
  margin: 0;
  font-size: 25px;
  color: #000000;
  line-height: 30px;
  font-weight: bold;
}
.h2-style-catalog {
  margin: 0;
  font-size: 17px;
  color: #000000;
  line-height: 24px;
  font-weight: bold;
}
.font-footer {
  font-size: 19px;
  color: #000000;
  line-height: 18px;
  font-weight: bold;
}
.turquoise-font-title {
  font-size: 17px;
  color: #8dd0bb;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
}
.font-desc {
  font-size: 15px;
  color: #464646;
  line-height: 24px;
  font-weight: normal;
  margin: 0;
}
.font-item-price {
  font-size: 17px;
  color: #464646;
  line-height: 24px;
  font-weight: bold;
}
.font-catalog-desc {
  font-size: 13px;
  color: #464646;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
}
.font-label,
.font-input {
  font-size: 17px;
  color: #000000;
  line-height: 18px;
  font-weight: normal;
}
.font-button {
  font-size: 17px;
  color: #464646;
  line-height: 20px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
}
.btn {
  width: 100%;
  border: 2px solid #464646;
  margin: 0 auto;
}
.font-advantages-list {
  font-size: 17px;
  color: #000000;
  line-height: 20px;
  font-weight: bold;
  text-align: left;
  list-style-type: none;
}
.ul-style {
  margin-left: 0; /* Отступ слева в браузере IE и Opera */
  padding-left: 0; /* Отступ слева в браузере Firefox, Safari, Chrome */
  margin: 0;
}
.font-contacts {
  font-size: 15px;
  color: #464646;
  line-height: 30px;
  font-weight: normal;
  margin: 0;
}
