/*преимущества ииндех*/
@import "../variable.less";

.advantages {
  width: 100%;
  margin-top: 30px;
  mardin-bottom: 60px;

  &__items {
    width: 260px;
    margin: 0 auto;

    h2 {
      .h2-style;
    }

    &-list {
      .font-advantages-list;
      .ul-style;

      li {
      margin-top: 20px;
      }
    }
  }
}
