@import "../variable.less";
@import "../mixins.less";

.catalog {
  display: flex;
  flex-wrap: wrap;
  width: 260px;
  margin: 0 auto;
  margin-top: 30px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-bottom: 30px;
  border: #ececec solid 1px;
  box-sizing: border-box;

  a {
    display: block;
    width: 100%;
    text-decoration: none;
  }

  &:hover {
    box-shadow: 0 5px 8px 0 rgba(122,122,122,0.3);
  }

  &:active  {
    box-shadow: 0 5px 4px 0 rgba(122,122,122,0.3);
  }
}

.catalog__item-img {
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: @bg-light-grey;

  a {
    line-height: 0;
  }
}

.catalog__item-content {
  position: relative;
  padding: 27px 20px 27px 30px;
  box-sizing: border-box;

  h2 {
    width: 95%;
    margin: 0;
    padding-bottom: 5px;
  }

  a {
    .font-style(@base-color: #000000);
    text-decoration: none;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}


.catalog__item-content-desc {
  margin: 0;
  padding-bottom: 19px;
  .font-style(@font-size: 13px, @line-height: 30px, @font-weight: normal);
  border-bottom: #ececec solid 1px;
}

.catalog__item-content-price {
  position: relative;
  display: flex;
  padding-top: 20px;
  .font-style(@font-size: 15px, @base-color: #000000);
}

.catalog__item-content-basket {
  padding: 0;

  svg {
    position: absolute;
    right: 22px;
    bottom: 30px;
    fill: rgba(0, 0, 0, 0.2);

    &:hover {
      fill: @turquoise;
    }

    &:active {
      fill: @turquoise;
      fill-opacity: 0.3;
    }
  }
}

@media @tablet-widths {
  .catalog {
    .w-container();
    margin-top: 62px;
    align-content: space-around;
    flex-direction: column;
  }

  .catalog__item {
    width: 100%;
    flex-direction: row;
    margin-bottom: 54px;
    box-sizing: border-box;
  }

  .catalog__item-img {
    width: 51%;
    height: 333px;
  }

  .catalog__item-content {
    width: 50%;
    padding: 24px 20px 20px 23px;
    box-sizing: border-box;

    h2 {
      width: 86%;
      padding-bottom: 7px;
    }

    a {
      .font-style(@font-size: 20px, @line-height: 27px);
    }
  }

  .catalog__item-content-desc {
    border-bottom: none;
    .font-style(@font-size: 15px, @font-weight: normal);
  }

  .catalog__item-content-price {
    margin-top: 160px;
    padding-top: 22px;
    padding-right: 60px;
    padding-left: 5px;
    border-top: #ececec solid 1px;
    .font-style(@font-size: 17px, @base-color: #000000);

    &--large {
      margin-top: 133px;
    }
  }

  .catalog__item-content-basket svg {
    right: 30px;
    bottom: 30px;
  }
}

@media @desktop-widths {

  .catalog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 115px;
  }

  .catalog__item {
    width: 30%;
    flex-direction: column;
    margin-bottom: 55px;
    border: #ececec solid 1px;
  }

  .catalog__item-img {
    width: 100%;
    height: auto;
  }

  .catalog__item-content {
    width: 100%;
    box-sizing: border-box;
    padding-top: 28px;
    padding-bottom: 28px;

    h2 {
      width: 90%;
      padding-bottom: 5px;
    }

    .catalog__item-large {
      padding-bottom: 3px;
    }
  }

  .catalog__item-content-desc {
    padding-bottom: 17px;
  }

  .catalog__item-content-price {
    margin-top: 24px;
    padding-left: 0px;
  }

  .catalog__item-content-price--large {
    margin-top: 0;
  }

  .catalog__item-content-basket svg {
    right: 32px;
    bottom: 30px;
  }
}
