@import "../variable.less";
@import "../mixins.less";

.catalog {
  width: 260px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}

.catalog__item {
  display: flex;
  flex-direction: column;
  width: 260px;
  margin-bottom: 33px;
  border: #ececec solid 1px;
  box-sizing: border-box;

  a {
    display: block;
    text-decoration: none;
    width: 100%;
  }

  &:hover {
    box-shadow: 0 5px 8px 0 rgba(122,122,122,0.3);
  }

  &:active  {
    box-shadow: 0 5px 4px 0 rgba(122,122,122,0.3);
  }
}

.catalog__item-img {
  width: 100%;
  text-align: center;
  overflow: hidden;
  background-color: @bg-light-grey;
}

.catalog__item-content {
  position: relative;
  padding: 20px 25px 28px 27px;
  box-sizing: border-box;

  h2 {
    width: 95%;
    margin: 0;
    padding-bottom: 5px;
  }

  a {
    .font-style(@base-color: #000000);
    text-decoration: none;

    &:hover {
      color: rgba(0, 0, 0, 0.6);
    }

    &:active {
      color: rgba(0, 0, 0, 0.3);
    }
  }
}

.catalog__item-content-desc {
  .font-style(@font-size: 13px, @line-height: 30px, @font-weight: normal);
  padding-bottom: 19px;
  margin: 0;
  border-bottom: #ececec solid 1px;
}

.catalog__item-content-price {
  position: relative;
  display: flex;
  padding-top: 20px;
  .font-style(@font-size: 15px, @base-color: #000000);
}

.catalog__item-content-basket svg {
  position: absolute;
  right: 27px;
  bottom: 30px;
  fill: rgba(0, 0, 0, 0.2);

  &:hover {
    fill: @turquoise;
  }

  &:active {
    fill: @turquoise;
    fill-opacity: 0.3;
  }
}

@media @tablet-widths {
  .catalog {
    .w-container();
    margin-top: 65px;
    align-content: space-around;
    flex-direction: column;
  }

  .catalog__item {
    width: 100%;
    flex-direction: row;
    margin-bottom: 45px;
    box-sizing: border-box;
  }

  .catalog__item-img {
    width: 50%;
  }

  .catalog__item-content {
    width: 50%;
    box-sizing: border-box;
    padding-left: 23px;
    padding-top: 25px;

    h2 {
      width: 86%;
      padding-bottom: 7px;
    }

    a {
      .font-style(@font-size: 20px, @line-height: 27px);
    }
  }

  .catalog__item-content-desc {
    border-bottom: none;
    .font-style(@font-size: 15px, @font-weight: normal);
  }

  .catalog__item-content-price {
    margin-top: 160px;
    padding-top: 22px;
    padding-right: 60px;
    padding-left: 5px;
    border-top: #ececec solid 1px;
    .font-style(@font-size: 17px, @base-color: #000000);

    &--large {
      margin-top: 133px;
    }
  }

  .catalog__item-content-basket svg {
    right: 35px;
    bottom: 35px;
  }
}

@media @desktop-widths {

  .catalog {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 153px;
  }

  .catalog__item {
    width: 30%;
    flex-direction: column;
    border: #ececec solid 1px;
    margin-bottom: 55px;
  }

  .catalog__item-img {
    width: 100%;

    a {
      height: 460px;
    }
  }

  .catalog__item-content {
    width: 100%;
    box-sizing: border-box;

    h2 {
      width: 90%;
      padding-bottom: 5px;
    }
  }

  .catalog__item-content {

    .catalog__item-large {
      padding-bottom: 5px;
    }
  }

  .catalog__item-content-price {
    margin-top: 20px;
    padding-left: 0px;
  }

  .catalog__item-content-price--large {
    margin-top: 0;
  }
}
