@import "../variable.less";
@import "../mixins.less";

.container {
  width: 100%;
  margin: 0 auto;
}

.container__headline {
  width: 100%;
  background-color: @bg-light-grey;
  margin: 0;

  h1 {
    padding-top: 70px;
    padding-bottom: 77px;
    .font-style(@font-size: 27px, @line-height: 30px, @base-color: #272425);
    text-align: center;
    margin: 0;
  }
}

.container__form {
  margin-top: 21px;
}

.container__form-desc{
  width: 320px;
  margin:0 auto;
}

.container__form-desc-text {
  display: block;
  margin: 0 auto;
  margin-top: 0;
  margin-bottom: 0;
  width: 260px;
  .font-style(@font-size: 13px, @font-weight: normal);
}


@media @tablet-widths {

  .container__headline {

    h1 {
      padding-top: 54px;
      .font-style(@font-size: 43px, @line-height: 50px, @base-color: #000000);
    }
  }

  .container__form {
    margin-top: 75px;
  }

  .container__form-desc{
    .w-container();
  }

  .container__form-desc-text {
    width: 668px;
    .font-style(@font-size: 17px, @line-height: 30px, @font-weight: normal);
  }
}

@media @desktop-widths {

  .container__headline h1 {
    padding-top: 38px;
    padding-bottom: 80px;
    .font-style(@font-size: 53px, @line-height: 57px, @base-color: #000000);
  }

  .container__form {
    margin-top: 145px;
  }
  .container__form-desc-text {
    width: 700px;
  }
}
