@import "../variable.less";
@import "../mixins.less";

.contacts {
  width: 100%;
  margin: 0 auto;
}

.contacts__wrapper {
  margin-top: 40px;
  margin-bottom: 40px;
}
.contacts__info {
  width: 260px;
  margin: 0 auto;
  padding-bottom: 30px;

  h2 {
    margin: 0;
    .font-style(@font-size: 18px, @line-height: 30px, @base-color: #000000);
  }
}

.contacts__info-list {
  padding-top: 25px;
  padding-bottom: 5px;
  width: 100%;

  a {
  display: inline-block;
  vertical-align: middle;
  margin: 0;
  .font-style(@font-size: 15px, @line-height: 30px, @font-weight: normal);
  text-decoration: none;
  border-bottom: #79c0ad solid 1px;

    &:hover {
      color: #79c0ad;
    }

    &:active {
      border-bottom-color: rgba(102, 204, 153, 0.1);
      color: rgba(102, 204, 153, 0.1);
    }
  }
}

.contacts__list-title {
  display: inline-block;
  vertical-align: middle;
  width: 28%;
  margin: 0;
  .font-style(@font-size: 15px, @line-height: 30px, @font-weight: normal);
}

.contacts__info-name {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  .font-style(@font-size: 15px, @line-height: 30px, @font-weight: normal);
}

.contacts__map {
  background-color: @bg-light-grey;
  width: 100%;
  height: 457px;
  padding-bottom: 40px;
}

.contacts__btn {
  width: 260px;
  margin: 0 auto;
  display: block;
  padding: 14px 0;
}

@media @tablet-widths {

  .contacts {
    width: auto;
    margin-top: 0;
  }

  .contacts__wrapper {
    margin-top: 0;
    margin-bottom: 55px;
  }

  .contacts__info {
    .w-container();
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 72px;
    padding-bottom: 52px;
  }

  .contacts__info h2 {
    width: 100%;
    .font-style(@font-size: 43px, @line-height: 50px, @base-color: #000000);
  }

  .contacts__info-list {
    width: 50%;
    padding-top: 48px;

    a {
      .font-style(@font-size: 17px, @line-height: 30px, @font-weight: normal);
    }
  }

  .contacts__info-list:last-child {
  }

  .contacts__list-title {
    width: 22%;
    .font-style(@font-size: 17px, @line-height: 30px, @font-weight: normal);
  }

  .contacts__info-name {
    width: 75%;
    .font-style(@font-size: 17px, @line-height: 30px, @font-weight: normal);
  }

  .contacts__map {
    padding-bottom: 0;
  }

  .contacts__btn {
    width: 23%;
    margin-top: 55px;
  }
}

@media @desktop-widths {

  .contacts {
    width: auto;
  }
  .contacts__wrapper {
    .w-container();
    position: relative;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: flex-start;
    padding-top: 80px;
    margin-bottom: 75px;
  }

  .contacts__info {
    margin: 71px 50px 80px 175px;
    width: 300px;
    padding-top: 0;
  }

  .contacts__info h2 {
    padding-bottom: 46px;
    .font-style(@font-size: 53px, @line-height: 57px);
  }

  .contacts__info-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    padding-top: 0;
    padding-bottom: 30px;
  }

  .contacts__list-title {
    width: 25%;
  }

  .contacts__map {
    width: 525px;
    margin-bottom: 0;
  }

  .contacts__btn {
    position: absolute;
    bottom: 30px;
    left: 17%;
    width: 21%;
  }
}
