@import "../variable.less";
@import "../mixins.less";

.form-order {
  width: 260px;
  margin: 0 auto;
  padding-bottom: 50px;
}

.form-order__fieldset {
  position: relative;
  width: 100%;
  border: 0 none;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-top: 21px;
}

.form-order__field-wrap {
}

.form-order__fieldset-name {
  .font-style(@line-height: 16px, @base-color: @turquoise);
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  width: 100%;

  &::after { /*линия*/
    position: absolute;
    content: "";
    width: 74%;
    border-top: 1px solid @turquoise;
    margin-top: 10px;
    margin-left: 23px;
  }
}

.form-order__fieldset-type {
  position: relative;
  margin-top: 37px;

  input[type="radio"] + label::before { /*кружки*/
    position: absolute;
    content: "";
    width: 34px;
    height: 34px;
    left: 0;
    top: -7px;
    border: 2px solid #464646;
    border-radius: 50%;
  }

  input[type="radio"]:checked + label::after { /*точки*/
    position: absolute;
    display: block;
    content: "";
    width: 16px;
    height: 16px;
    left: 11px;
    top: 4px;
    background-color: @turquoise;
    border-radius: 50%;
  }
}

.form-order__label {
  position: relative;
  .font-style-form;
  padding-left: 60px;
  display: block;
  cursor: pointer;
  margin-bottom: 23px;

  &:hover::before { /*не рабтает*/
    border: 2px solid @turquoise;
  }
}

.form-order__field {
  display: none;
}

.form-order__fieldset-color {
  position: relative;
  list-style-type: none;
  margin: 35px 0 0 0;
  padding: 0;

  input[type="checkbox"] + label::before { /*квадраты у цветов*/
    position: absolute;
    content: "";
    width: 35px;
    height: 35px;
    left: 0;
    top: -8px;
    border: 2px solid #464646;
  }

  input[type="checkbox"]:checked + label::after { /*галочки*/
    display: block;
    position: absolute;
    content: "";
    width: 28px;
    height: 28px;
    background-image: url(../img/icon-tick.svg);
    background-color: transparent;
    background-repeat: no-repeat;
    left: 4px;
    top: 0;
  }

  li:not(:last-child) {
    padding-bottom: 20px;
  }
}

.form-order__field-color { /*инпуты цветов*/
  display: none;
}

.form-order__fieldset-contact {
  width: 100%;
  margin-top: 7px;
}

.form-order__label-contact {
  display: flex;
  .font-style-form;
  padding-bottom: 15px;
  padding-top: 21px;
}

.form-order__field-contact {
  width: 100%;
  padding-bottom: 14px;
  padding-left: 0;
  border: none;
  outline: none;
  border-bottom: #000000 solid 2px;
  .font-style-form(@font-weight: normal);
  color: rgba(70, 70, 70, 0.3);

  &:hover {
    border-bottom: #79c0ad solid 2px;
    color: rgba(70, 70, 70, 0.3);
  }

  &:focus {
    border-bottom: #79c0ad solid 2px;
    color: @color-btn;
  }
}

.form-order__field-wrap-double {
  margin-top: 10px;
}

.form-order__field-style {
  margin-top: 30px;
}

.form-order__field-wrap-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;

  .form-order__fieldset-name {
    padding-bottom: 20px;
  }
}

.form-order__info-input {
  width: 100%;
  padding-left: 0;
  border: none;
  outline: none;
  padding-bottom: 20px;
  border-bottom: #000000 solid 2px;
  .font-style-form(@font-weight: normal);
  color: rgba(70, 70, 70, 0.3);

  &:hover {
    border-bottom: #79c0ad solid 2px;
    color: rgba(70, 70, 70, 0.3);
  }

  &:focus {
    border-bottom: #79c0ad solid 2px;
    color: @color-btn;
  }
}

.form-order__field-form {
  padding-top: 25px;
}

.form-order__info {
  margin-top: 10px;

  textarea {
    width: 230px;
    height: 110px;
    padding: 15px;
    outline: none;
    .font-style-form(@base-color: #464646, @font-weight: normal);
    font-family: "Open Sans", "Arial", sans-serif;
    border: #000000 solid 2px;

    &:hover {
      color: rgba(70,70,70, 0.3);
      border: @turquoise solid 2px;
    }

    &:focus {
      color: #464646;
      border: @turquoise solid 2px;
    }
  }
}

.form-order__submit {
  margin-top: 15px;

  button {
    .font-style;
    font-family: inherit;
    width: 260px;
    margin: 0 auto;
    display: inline-block;
    vertical-align: middle;
    padding: 13px 0;
    background-color: @bg-white;
    cursor: pointer;
  }

  span {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 30px;
    .font-style(@font-size: 14px, @line-height: 16px, @font-weight: normal);
    text-align: left;
  }
}

@media @tablet-widths {

  .form-order {
    width: 100%;
    position: relative;
    padding-top: 60px;
    padding-bottom: 48px;
  }

  .form-order__fieldset {
    margin-top: 0;
  }

  .form-order__bg {
    background-color: @bg-light-grey;

    .form-order__fieldset-name {
      padding-top: 68px;
      margin-bottom: 0px;
    }
  }

  .form-order__white {

    .form-order__field-wrap {
      padding-top: 42px;
      margin-bottom: 48px;
    }

    .form-order__fieldset-name {
      padding-top: 27px;
    }
  }

  .form-order__field-wrap {
    .w-container();
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
  }

  .form-order__fieldset-name {
    display: flex;
    width: 25%;
    padding-top: 14px;
    margin-bottom: 7px;

    &::after { /*линия*/
      display: none;
    }
  }

  .form-order__fieldset-type {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-top: 10px;
    margin: 0;

    input[type="radio"] + label::before { /*кружки*/
      left: 0;
      top: -15px;
      height: 47px;
      width: 47px;
    }

    input[type="radio"]:checked + label::after { /*точки*/
      left: 15px;
      top: 1px;
      height: 20px;
      width: 20px;
    }
  }

  .form-order__label {
    margin-bottom: 60px;
    padding-left: 80px;
  }

  .form-order__label,
  .form-order__label-contact {
    .font-style-form(@font-size: 19px);
  }

  .form-order__fieldset-color {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    padding-top: 60px;
    margin-top: 0;
    margin-bottom: 0;

    input[type="checkbox"] + label::before { /*квадраты у цветов*/
      position: absolute;
      width: 48px;
      height: 48px;
      left: 2px;
    }

    input[type="checkbox"]:checked + label::after { /*галки у цветов*/
      left: 13px;
      top: 4px;
    }
  }

  .form-order__fieldset-color:nth-child(1+2n) li {
    width: 50%;
    margin-bottom: 0px;
    padding-bottom: 0;
  }

  .form-order__fieldset-color:nth-child(2n) li {
    width: 50%;
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .form-order__fieldset-contact {
    display: flex;
    flex-wrap: wrap;
    width: 75%;
    margin-top: 27px;
  }

  .form-order__field-legend {
    width: 25%;
  }

  .form-order__label-contact {
    width: 25%;
    padding-bottom: 17px;
    padding-top: 0;
  }

  .form-order__field-contact {
    width: 70%;
    padding-top: 35px;
    padding-left: 20px;
    .font-style-form(@font-size: 19px, @line-height: 18px, @font-weight: normal);
    color: rgba(70, 70, 70, 0.3);

    &--first {
      padding-top: 0;
    }
  }

  .form-order__fieldset-contact label:not(:first-child)  {
    padding-top: 40px;
  }

  .form-order__field-wrap-double {
    box-sizing: border-box;
    .w-container();
    padding-bottom: 50px;
  }

  .form-order__field-wrap-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;

    .form-order__fieldset-name {
      width: 25%;
      padding-bottom: 20px;
    }

    .form-order__info-input {
      width: 72%;
      padding-top: 68px;
      padding-bottom: 12px;
      padding-left: 14px;
    }
  }

  .form-order__field-style {
    margin-top: 0;

    .form-order__fieldset-name {
      padding-top: 40px;
    }

    .form-order__info-input {
      padding-top: 39px;
      padding-bottom: 15px;
    }
  }

  .form-order__field-form {
    width: 75%;
  }

  .form-order__info-input {
    background-color: @bg-light-grey;
    .font-style-form(@font-size: 19px, @line-height: 18px, @font-weight: normal);
    color: rgba(70, 70, 70, 0.3);
  }

  .form-order__submit {
    .w-container();

    position: relative;
    margin-top: 45px;
    text-align: left;

    .form-order__submit-btn {
      width: 34%;
    }

    span {
      position: absolute;
      bottom: -13px;;
      right: 0;
      .font-style(@font-size: 17px, @line-height: 30px, @font-weight: normal);
    }
  }

  @-moz-document url-prefix() {  /*отступ для мозиллы*/
   .form-order__submit {
      margin-top: 55px;
    }
  }

  .form-order__info {
    margin-top: 25px;
    margin-bottom: 0;

    .form-order__fieldset-name {
      padding-top: 42px;
    }

    textarea {
      width: 100%;
      height: 142px;
      box-sizing: border-box;
      .font-style-form(@base-color: #464646, @font-weight: normal);
    }
  }
}

@media @desktop-widths {

  .form-order {
    padding-top: 60px;
  }

  .form-order__field-wrap {
    width: 920px;
  }

  .form-order__fieldset-name {
    width: 11%;
  }

  .form-order__fieldset-type {
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    padding-left: 8px;
    padding-top: 13px;
  }

  .form-order__fieldset-color {
    display: flex;
    flex-wrap: wrap;
    width: 87%;
    padding-left: 8px;
  }

  .form-order__bg {

    .form-order__fieldset-color {
      padding-top: 63px;
    }
  }

  .form-order__fieldset-color:nth-child(-n+3) li {
    width: 33%
  }

  .form-order__fieldset-color:nth-child(n+4) li {
    width: 33%
  }

  .form-order__fieldset-color input[type="checkbox"] + label::before {
    top: -16px;
  }

  .form-order__fieldset-color input[type="checkbox"]:checked + label::after {
    left: 12px;
    width: 33px;
  }

  .form-order__white {
    .form-order__field-wrap {
      margin-bottom: 53px;
      padding-top: 39px;

      @-moz-document url-prefix() {  /*отступ для мозиллы*/
        padding-top: 45px;
      }

      .form-order__fieldset-contact {
        margin-top: 24px;
      }
    }
  }

  .form-order__fieldset-contact {
    display: flex;
    flex-wrap: wrap;
    width: 86%;
    padding-left: 8px;
  }

  .form-order__label-contact {
    width: 16%;
    padding-bottom: 17px;
  }

  .form-order__field-contact {
    width: 70%;
  }

  .form-order__field-wrap-double {
    width: 920px;

    .form-order__fieldset-name {
      padding-bottom: 17px;
    }
  }

  .form-order__field-wrap-list {

    .form-order__fieldset-name {
      width: 12%;
    }

    .form-order__info-input {
      width: 76%;
      padding-bottom: 10px;
    }
  }

  .form-order__field-style {
    margin-top: 0;
  }

  .form-order__field-form {
    width: 76%;
    padding-left: 7px;
  }

  .form-order__info {
    margin-top: 24px;
    margin-bottom: 45px;

    @-moz-document url-prefix() {  /*отступ для мозиллы*/
        margin-bottom: 52px;
      }
  }

  .form-order__submit {
    width: 700px;
    margin-top: 0px;

    .form-order__submit-btn {
      width: 33%;
    }
  }
}
