/*вязаные корзинки*/
@import "../variable.less";
@import "../mixins.less";

.item {
  width: 260px;
  margin: 0 auto;
  padding-top: 27px;
  padding-bottom: 35px;
}

.item__title {

  h2 {
    margin: 0;
    padding-bottom: 5px;
    .font-style(@font-size: 25px, @line-height: 30px, @base-color: #000000);
  }

  span {
    .font-style(@line-height: 20px, @base-color: @turquoise);
    text-transform: uppercase;
  }
}

.item__features {
  padding-bottom: 20px;
  padding-top: 20px;

  p {
    margin: 0;
    .font-style(@font-size: 15px, @font-weight: normal);
  }
}

.item__desc {
  padding-bottom: 25px;
}

.item__desc-content {
  padding-top: 4px;
  padding-bottom: 10px;
  border-bottom: #f1f1f1 solid 1px;

  p {
    margin: 0;
    .font-style(@font-size: 15px, @line-height: 20px, @font-weight: normal);
  }
}

.item__desc-content-color,
.item__desc-content-size {
  display: inline-block;
  vertical-align: middle;
  width: 36%;
}

.item__desc-content-color-name,
.item__desc-content-size-name {
  display: inline-block;
  vertical-align: middle;
}

.item__img {
  text-align: center;
  background-color: @bg-light-grey;
  overflow: hidden;
}

.item__price {
  padding-top: 20px;
  padding-bottom: 25px;
  text-align: center;
  .font-style;
}

.item__button-order {
  display: inline-block;
  vertical-align: middle;
  width: 98%;
  padding: 14px 0;
}

@media @tablet-widths {

  .item {
    .w-container();
    margin-top: 42px;
    margin-bottom: 60px;
    padding: 0;
  }

  .item__title {
    display: flex;
    margin-top: 0;
  }

  .item__title h2 {
    width: 85%;
    .font-style(@font-size: 43px, @line-height: 50px, @base-color: #000000);
  }

  .item__title  span {
    padding-top: 12px;
    text-align: center;
    .font-style(@line-height: 17px, @base-color: @turquoise);
    text-transform: uppercase;
  }

  .item__desc-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-top: 43px;
  }

  .item__features {
    width: 290px;
    order: 1;
    padding: 0;

    p {
      .font-style(@font-size: 17px, @line-height: 30px, @font-weight: normal);
    }
  }

  .item__desc {
    order: 2;
    width: 290px;
    padding: 37px 0;
  }

  .item__img {
    position: absolute;
    right: 0;
    bottom: -6px;
    order: 5;
  }

  .item__price {
    order: 3;
    width: 300px;
    padding-bottom: 34px;
    .font-style(@font-size: 20px);
  }

  .item__button {
    order: 4;
    width: 295px;
  }

  .item__desc-content p {
    .font-style(@font-size: 15px, @line-height: 20px, @font-weight: normal);
  }

  .item__desc-content p:first-child {
    width: 32%;
  }
}


@media @desktop-widths {

  .item {
    position: relative;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .item__title {
    position: absolute;
    top: 115px;
    display: flex;
    flex-direction: row-reverse;
    z-index: 1;
  }

  .item__title h2 {
    width: 530px;
    .font-style(@font-size: 53px, @line-height: 57px, @base-color: #000000);
  }

  .item__title  span {
    width: 125px;
    padding-top: 18px;
    padding-left: 20px;
    padding-right: 27px;
  }

  .item__desc-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    padding-left: 175px;
  }

  .item__desc-content p:first-child {
    width: 31%;
  }

  .item__features {
    width: 350px;
    padding-top: 110px;
    order: 1;

    p {
      padding-right: 60px;
    }
  }

  .item__desc {
    order: 2;
    width: 300px;
    padding-top: 50px;
  }

  .item__img {
    position: absolute;
    right: 0;
    top: 0;
    order: 5;
    width: 525px;
    height: 640px;
  }

  .item__price {
    order: 3;
    width: 300px;
    padding-top: 73px;
  }

  .item__button {
    order: 4;
    width: 290px;
  }
}
