@import "../variable.less";
@import "../mixins.less";

.page-footer {
  width: 100%;
  margin: 0 auto;
  background-color: @bg-light-grey;
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
  padding: 5px 0 20px 0;
  text-align: center;
}

.page-footer__logo-wrapper {
  display: none;
}

.page-footer__social {
  width: 100%;
  padding-top: 5px;
  border-bottom: #e4e4e4 solid 1px;
}

.page-footer__social-links {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  padding-left: 0;
  padding-bottom: 40px;
  width: 65%;

  li {
    width: 33%;
    list-style-type: none;
  }

  a {
    font-size: 0;
  }
}

.social-link {
  position: relative;

  svg {
    position: absolute;
    right: 20px;
    top: 20px;
    fill: #000000;

    &:hover {
      fill: @turquoise;
    }

    &:active {
      fill: @turquoise;
      fill-opacity: 0.3;
    }
  }
}

.page-footer__copyright {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 8px;
  cursor: pointer;

  a {
    font-size: 0;
    text-decoration: none;
  }
}

.page-footer__copyright-title {
  width: 60%;
  .font-style(@font-size: 19px, @line-height: 18px, @base-color: #000000);

  &:hover {
    color: rgba(0, 0, 0, 1);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }
}

.page-footer__copyright-link {
  width: 20%;
  padding-top: 13px;
}

.page-footer__logo-academy {
  fill: @turquoise;

  &:hover {
    fill: #79c0ad;
  }
  &:active {
    fill-opacity: 0.7;
  }
}

@media @tablet-widths {

  .page-footer__wrapper {
    .w-container();
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 45px 0 30px;
  }

  .page-footer__logo-wrapper {
    display: inline-flex;
    width: 30%;
    text-align: left;
  }

  .page-footer__logo svg {

    &:hover {
      fill: @turquoise;
    }

    &:active {
      fill: @turquoise;
      fill-opacity: 0.3;
    }
  }

  .social-link svg {
    right: 0;
    top: 0;
  }

  .page-footer__social {
    display: inline-flex;
    width: 40%;
    padding-top: 10px;
    border-bottom: none;
  }

  .page-footer__social-links {
    width: 70%;
    margin: 0 auto;
    padding-bottom: 0;
    border-bottom: none;
  }

  .page-footer__copyright {
    align-items: center;
    width: 36%;
    padding-top: 0;
  }

  .page-footer__copyright-title {
    width: 80%;
    padding-top: 10px;
  }

  .page-footer__copyright-link {
    width: 0;
  }
}

@media @desktop-widths {

  .page-footer__wrapper {
    justify-content: space-between;
    align-items: stretch;
    width: 78%;
    padding: 52px 0 30px;
  }

  .page-footer__logo-wrapper {
    width: 21%;
  }

  .page-footer__social {
    width: 25%;
  }

  .page-footer__copyright {
    align-items: stretch;
    width: 25%;
  }

  .page-footer__copyright-title {
    padding-top: 10px;
  }
  .page-footer__copyright-link {
    padding-top: 6px;
  }
}
