@import "../variable.less";
@import "../mixins.less";

.reviews {
  width: 100%;
  margin: 0 auto;
}

.reviews__items {
  width: 260px;
  padding: 30px;

  h2 {
    margin: 0;
    padding-bottom: 30px;
    .font-style(@font-size: 25px, @line-height: 30px, @base-color: #000000);
  }
}

.reviews__items-blockquote {
  margin: 0;

  p {
    margin: 0;
    .font-style(@font-size: 15px, @line-height: 30px, @font-weight: normal);
  }
}

.reviews__items-auhor {
  display: inline-block;
  vertical-align: middle;
  .font-style(@font-size: 18px, @base-color: #000000);
  margin-top: 30px;
  margin-bottom: 10px;
}

.reviews__items-contact {
  display: inline-block;
  vertical-align: middle;
  .font-style(@line-height: 30px, @base-color: #464646, @font-weight: normal);
}

.reviews__items-btn {
  margin-bottom: 38px;
}

.reviews__btn {

  &--prev,
  &--next {
    width: 50%;
    font-size: 10px; /*временно*/
    text-decoration: none;
  }
}

.reviews__write {
  display: inline-block;
  vertical-align: middle;
  padding: 14px 0;
}

@media @tablet-widths {

  .reviews {
    background-image: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
  }

  .reviews__items {
    .w-container();
    position: relative;
    width: 668px;
    padding: 60px 0 40px 0;

    h2 {
      .font-style(@font-size: 43px, @line-height: 50px, @base-color: #000000);
      padding-right: 330px;
      padding-bottom: 0;
    }
  }

  .reviews__items-blockquote {
    margin-top: 60px;

    p {
    .font-style(@font-size: 17px, @line-height: 30px, @font-weight: normal);
    }
  }

  .reviews__items-auhor {
    display: block;
    .font-style(@font-size: 17px);
    margin-top: 70px;
    margin-bottom: 20px;
  }

  .reviews__items-contact {
    display: block;
  }
  .reviews__write {
    position: absolute;
    top: 60px;
    right: 0;
    width: 170px;
  }

  .reviews__items-btn {
    position: absolute;
    bottom: 50px;
    right: 0;
    width: 170px;
  }
}

@media @desktop-widths {

  .reviews {
    background-image: none;
  }

  .reviews__items {
    background: url(../img/review@1x.jpg);
    background-repeat: no-repeat;
    padding: 75px 0 90px 175px;

    h2 {
      .font-style(@font-size: 43px, @line-height: 50px, @base-color: #000000);
      padding-right: 330px;
    }
  }
    .reviews__items-auhor {
    margin-top: 50px;
    margin-bottom: 10px;
  }
    .reviews__write {
    top: 70px;
  }

  .reviews__items-btn {
    bottom: 70px;
  }
}
