@import "../variable.less";
@import "../mixins.less";

.video {
  display: flex;
  width: 260px;
  margin: 0 auto;
  margin-bottom: 60px;
}

.video__process-production {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: 100%;
  border: #ececec solid 1px;
  box-sizing: border-box;

  img {
    width: 100%;
    background-color: @bg-light-grey;
  }

  &:hover {
    box-shadow: 0 5px 8px 0 rgba(122,122,122,0.3);
  }

  &:active  {
    box-shadow: 0 5px 4px 0 rgba(122,122,122,0.3);
  }
}

.video__process-production-h2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 0 25px 90px;
  margin: 0;
  .font-style(@base-color: #000000);

  svg {
    position: absolute;
    left: 37px;
    top: 25px;
    fill: @turquoise;
  }
}

.video__process-link {
  padding-top: 92px;
  text-decoration: none;
}

.video__process-icon {
  position: absolute;
  height: 77px;
  width: 101px;
  left: 32%;
  top: 27%;
  background-image: url(../img/icon-play.svg);
  background-repeat: no-repeat;
  cursor: pointer;
  z-index: 2;

  &:hover {
    transform: scale(1.2);
  }
  &:active {
    transform: scale(0.8);
    opacity: 0.7;
  }
}

.video__process-desc {
  padding: 8px 30px 30px 37px;
}

.video__process-desc-text {
  .font-style(@font-size: 13px, @font-weight: normal);
}

.video__process-btn-order {
  display: block;
  width: 98%;
  margin-top: 25px;
  padding: 14px 0;
}

@media @tablet-widths {

  .video {
    .w-container();
  }

  .video__process-production {
    width: 100%;
    flex-direction: column;
    margin-bottom: 60px;
    padding-bottom: 45px;
  }

  .video__process-production-h2 {
    position: relative;
    order:2;
    padding: 35px 60px;
    .font-style(@font-size: 20px);
  }

  .video__process-production-h2 svg {
    left: 0;
    top: 34px;
  }

  .video__process-link {
    order: 1;
    width: 100%;
    padding-top: 0;
  }

  .video__process-icon {
    left: 42%;
  }

  .video__process-desc {
    order: 3;
    padding: 0 40px;
  }

  .video__process-desc-text {
    margin: 0;
    .font-style(@font-size: 15px, @line-height: 28px, @font-weight: normal);
  }

  .video__process-btn-order {
    display: block;
    padding: 14px 0;
    margin-top: 37px;
  }
}

@media @desktop-widths {

  .video {
    display: flex;
  }

  .video__process-production {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin-bottom: 100px;
    padding-bottom: 0;
    box-sizing: border-box;
  }

  .video__process-link {
    order: 1;
    width: 65%;
  }

  .video__process-icon {
    left: 29%;
    top: 41%;
  }

  .video__process-desc {
    order: 3;
    width: 35%;
    box-sizing: border-box;
    padding: 0;
  }

  .video__process-production-h2 {
    order: 2;
    width: 41%;
    padding: 93px 0 33px 75px;
  }

  .video__process-production-h2 svg {
    left: 35%;
    top: 40px;
  }

  .video__process-desc-text {
    margin-bottom: 44px;
    padding-left: 81px;
    line-height: 30px;
  }

  .video__process-btn-order {
    width: 62%;
    margin: 45px 0 57px 81px;
  }
}
